<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="Scripts/jquery-2.0.0.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/moment.min.js"></script>
    <script src="CalendarDirective/angular-drag-and-drop-directive.js"></script>
    <script src="CalendarDirective/angular-calendar-directive.js"></script>
    <script src="Scripts/App/SampleCalendarApp.js"></script>
    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/angular-calendar-directive.css" />
    <link rel="stylesheet" href="styles/basic-sample-calendar-styles.css" />
    <link rel="stylesheet" href="fonts/icon-styles.css" />
</head>
<body ng-app="sample-calendar-app">

    <div ng-controller="sample-calendar-controller">

        <div ng-controller="sample-calendar-controller">
            <div class="calendar-top-menu clearfix">
                <div class="view-buttons pull-left clearfix">
                    <div class="view-button" ng-class="{selected:calendar.settings.view == 'year'}" ng-click="setView('year')">Year</div>
                    <div class="view-button" ng-class="{selected:calendar.settings.view == 'month'}" ng-click="setView('month')">Month</div>
                    <div class="view-button" ng-class="{selected:calendar.settings.view == 'week'}" ng-click="setView('week');">Week</div>
                    <div class="view-button" ng-class="{selected:calendar.settings.view == 'day'}" ng-click="setView('day')">Day</div>
                </div>
                <div class="view-buttons header-center clearfix" ng-show="calendar.settings.view == 'year'">
                    <h2>{{getYear()}}</h2>
                </div>
                <div class="view-buttons header-center clearfix" ng-show="calendar.settings.view == 'month'">
                    {{getMonth()}}    {{getYear()}}
                </div>
                <div class="view-buttons header-center clearfix" ng-show="calendar.settings.view == 'week'">
                    Week {{getWeek()}},    {{getMonth()}}    {{getYear()}}
                </div>
                <div class="view-buttons header-center clearfix" ng-show="calendar.settings.view == 'day'">
                    {{getMonth()}}   {{getDay()}},   {{getYear()}}
                </div>
                <div class="view-buttons pull-right clearfix">
                    <div class="view-button" angular-calendar-time-btn calendar-settings="calendar.settings" previous-time>Previous</div>
                    <div class="view-button" angular-calendar-time-btn calendar-settings="calendar.settings" current-time>Current</div>
                    <div class="view-button" angular-calendar-time-btn calendar-settings="calendar.settings" next-time>Next</div>
                </div>
            </div>
            <div angular-calendar calendar-settings="calendar.settings" calendar-data="calendar.data">

            </div>
        </div>
    </div>

</body>
</html>
