<h1>Basic Calendar Demo</h1>
<br/>
<div ng-controller="basic-calendar-controller">
    <div class="calendar-top-menu clearfix">
        <div class="view-buttons pull-left clearfix">
            <div class="view-button" ng-class="{selected:calendar.settings.view == 'year'}" ng-click="setView('year')">Year</div>
            <div class="view-button" ng-class="{selected:calendar.settings.view == 'month'}" ng-click="setView('month')">Month</div>
            <div class="view-button" ng-class="{selected:calendar.settings.view == 'week'}" ng-click="setView('week');">Week</div>
            <div class="view-button" ng-class="{selected:calendar.settings.view == 'day'}" ng-click="setView('day')">Day</div>
        </div>
        <div class="view-buttons header-center clearfix" ng-show="calendar.settings.view == 'year'">
            <h2>{{getYear()}}</h2>
        </div>
        <div class="view-buttons header-center clearfix" ng-show="calendar.settings.view == 'month'">
            {{getMonth()}}    {{getYear()}}
        </div>
        <div class="view-buttons header-center clearfix" ng-show="calendar.settings.view == 'week'">
            Week {{getWeek()}},    {{getMonth()}}    {{getYear()}}
        </div>
        <div class="view-buttons header-center clearfix" ng-show="calendar.settings.view == 'day'">
              {{getMonth()}}   {{getDay()}},   {{getYear()}}
        </div>
        <div class="view-buttons pull-right clearfix">
            <div class="view-button" angular-calendar-time-btn calendar-settings="calendar.settings" previous-time>Previous</div>
            <div class="view-button" angular-calendar-time-btn calendar-settings="calendar.settings" current-time>Current</div>
            <div class="view-button" angular-calendar-time-btn calendar-settings="calendar.settings" next-time>Next</div>
        </div>
    </div>
    <div angular-calendar calendar-settings="calendar.settings" calendar-data="calendar.data">

    </div>
</div>

<link rel="stylesheet" href="SampleCalendars/basic-sample-calendar-styles.css" />