
.pull-left {
  float: left !important;
}

/*MONTH VIEW STYLES*/
div[class^="close-btn"] {
    position:absolute;
    color:#999;
    font-size:18px;
    cursor:pointer;
    width:25px;
    height:25px;
    line-height:25px;
    text-align:center;
}
div[class^="close-btn"]:hover {
    color:#cc0000;
}
.abs-ur {
    top:0px;
    right:0px;
}
.week-row-day-event-span {
    position:absolute;
    background-color:#4db1d8;
    border:solid 1px #a6d6e9;
}
.week-row-day-event-span.sub {
    border:none;
}
    .calendar-month-headers{
        height:35px;
        width:100%;
    }
    .calendar-month-header{
        float:left;
        width:14.285714285%;
        line-height:35px;
        font-size:18px;
        text-align:center;
        border-left:solid 1px #ccc;
        border-top:solid 1px #ccc;
    }
    .calendar-month-body{
    }
    .month-week-row-tag{
        position:absolute;
        left:0px;
        top:0px;
        transform:translate(-100%, 0%);
        padding:8px;
        background-color:#fff;
        border:solid 1px #ccc;
        border-right:none;
        display:none;
        cursor:pointer;
    }
    .month-week-row-tag:hover{
        text-decoration:underline;
    }
    .month-week-row{
        width:100%;
        position:relative;
    }
    .month-week-row:hover>.month-week-row-tag{
        display:block;
    }
    .month-week-day-cell{
        width:14.285714285%;
        height:100%;
        border-left:solid 1px #ccc;
        border-top:solid 1px #ccc;
        float:left;
        position:relative;
    }
    .week-row-day-events{
        position:relative;
        border-left:solid 1px #ccc;
        border-top:solid 1px #ccc;
        background-color:#444;
        padding:15px;
        padding-top:10px;
        padding-left:10px;
        overflow-x:hidden;
        overflow-y:auto;
    }
    .week-row-day-event{
        padding:4px;
        color:#ccc;
        cursor:pointer;
        float:left;
        margin-left:10px;
    }
    .week-row-day-event:hover>div{
        text-decoration:underline;
    }
    .month-week-day-number{
        position:absolute;
        top:0px;
        right:5px;
        color:#ccc;
    }
    .month-week-day-number.current-month{
        color:#555;
    }
    .month-view-parent{
        position:relative;
        border-right:solid 1px #ccc;
        border-bottom:solid 1px #ccc;
    }
    .day-event-color-dot {
        width:10px;
        height:10px;
        background-color:#4db1d8;
        border-radius:10px;
        border:solid 1px #aaa;
        margin-left:10px;
        margin-top:8px;
    }
    .day-event-color-dot.event-span-previous-day {
        border-bottom-left-radius:0px;
        border-top-left-radius:0px;
    }
    .day-event-color-dot.event-span-next-day {
        border-bottom-right-radius:0px;
        border-top-right-radius:0px;
    }
    .month-day-event{
        width:10px;
        height:10px;
        background-color:#4db1d8;
        border-radius:10px;
        border:solid 1px #aaa;
        float:left;
        margin:2px;
    }
    .month-day-event.event-span-previous-day {
        border-bottom-left-radius:0px;
        border-top-left-radius:0px;
    }
    .month-day-event.event-span-next-day {
        border-bottom-right-radius:0px;
        border-top-right-radius:0px;
    }
    .month-day-events{
        position:absolute;
        bottom:0px;
        width:100%;
        padding:5px;
        max-height:100%;
        overflow:hidden;
    }

/*END MONTH VIEW STYLES*/