
<div class="sample-explanation" ng-controller="sample-explain-controller">
    <div class="sample-explain-btns clearfix">
        <div class="sample-explain-btn" 
             ng-click="setSample('SampleCalendars/explain-basic-html.html')" 
             ng-class="{selected:sample.explain == 'SampleCalendars/explain-basic-html.html'}">
            basic-sample-calendar.html
        </div>
        <div class="sample-explain-btn"
             ng-click="setSample('SampleCalendars/calendar-sample-app-js.html')"
             ng-class="{selected:sample.explain == 'SampleCalendars/calendar-sample-app-js.html'}">
            calendar-sample-app.js
        </div>
        <div class="sample-explain-btn"
             ng-click="setSample('SampleCalendars/basic-calendar-controller-js.html')"
             ng-class="{selected:sample.explain == 'SampleCalendars/basic-calendar-controller-js.html'}">
            basic-calendar-controller.js
        </div>
        <div class="sample-explain-btn"
             ng-click="setSample('SampleCalendars/basic-sample-calendar-styles-css.html')"
             ng-class="{selected:sample.explain == 'SampleCalendars/basic-sample-calendar-styles-css.html'}">
            basic-sample-calendar-styles.css
        </div>
        <div class="sample-explain-btn"
             ng-click="setSample('SampleCalendars/basic-calendar-dependencies.html')"
             ng-class="{selected:sample.explain == 'SampleCalendars/basic-calendar-dependencies.html'}">
            Dependencies
        </div>
    </div>

    <div style="padding:15px;border:solid 1px #999;border-radius:5px;background-color:#eee;color:#333;text-align:left;" ng-include="sample.explain"></div>
</div>

<style>
    .sample-explain-btns{
        margin:15px;
    }
    .sample-explain-btn{
        float:left;
        margin-left:20px;
        padding:5px;
        padding-left:8px;
        padding-right:8px;
        border:solid 1px #0275d8;
        border-radius:3px;
        color:white;
        cursor:pointer;
        background-color:#0275d8;
    }
    .sample-explain-btn.selected, .sample-explain-btn:hover{
        background-color:white;
        color:#0275d8;
        border-color:#0275d8;
    }
</style>